form {
    width: 1200px;
    margin:auto;
    margin-top: 10px;
}

input{
    padding:4px 10px;
    border:0;
    font-size:16px;
}

.search {
    width: 80%;
    background-color: #b7ccda;
}

.submit{
    width: 70px;
    background-color: #1c87c9;
    color:#ffffff;
}

button{
    border-radius: 15px;
    width: 80px;
    height: 30px;
    margin-left: 60px;
    font-size: 16px;
    background-color: #1c87c9;
    color: #ffffff; 
}

.titles button{
    border-radius: 0px;
    width: 340px;
    height: 30px;
    margin-top: 40px;
    margin-left: 10px;
    font-size: 16px;
    background-color: #b7ccda;
    color: #000000; 

}
