body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.form{
    font-weight: 300px;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 4px 16px #ccc;
    font-family: sans-serif;
    letter-spacing: 1px;
}
.form-button{
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
}
.form-title{
    text-align: center;
    margin: 0 0 32px 0;
    font-weight: normal;
}

.form-button{
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #0071f0;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}
.form-button:focus,
.form-button:hover{
    background-color: rgba(41, 126, 223, 0.7)
}


