form {
    width: 1900px;
    margin:auto;
    margin-top: 10px;
    text-align: center;
}

input{
    padding:4px 10px;
    border:0;
    font-size:16px;
    width: 50%;
    background-color: #b7ccda;
}

.search {
    width: 70%;
    background-color: #b7ccda;
}

.submit{
    margin-top: 10px;
    width: 70px;
    background-color: #1c87c9;
    color:#ffffff;
}

button{
    border-radius: 15px;
    width: 80px;
    height: 30px;
    margin-left: 60px;
    font-size: 16px;
    background-color: #1c87c9;
    color: #ffffff; 
}

.titles button{
    border-radius: 0px;
    width: 270px;
    height: 30px;
    margin-top: 40px;
    margin-left: 10px;
    margin-bottom: 40px;
    font-size: 16px;
    background-color: #b7ccda;
    color: #000000; 

}

.avatar{
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: -22px;
}

img{
    margin-left: 40px;
}
p{
    margin-left: 40px;
}
h3{
    text-align: right;
    margin-right: 120px;
    margin-bottom: -50px;
}
