<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Document</title>
</head>
<body>
    <form> 
        <input type="text" name="text" class="search" placeholder="Search here!">
        <input type="submit" name="submit" class="submit" value="Search">
    </form>
    <a href="{% url 'auth-page' %}">
        <button type="button">Увійти</button>
    </a>
    {% for user in users %}
    HELLO {{user.name}}
    {% endfor %}

    
</body>
</html>