{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="css/normalize.css">
    <title>Головна</title>
</head>
<body>
    <form> 
        <input type="text" name="text" class="search" placeholder="Знайти страву">
        <input type="submit" name="submit" class="submit" value="Пошук">
            {% if request.user.is_authenticated %}
                {% if user.avatar %}
                    {% if user.avatar.url|lower|slice:"-4:" == ".jpg" or user.avatar.url|lower|slice:"-4:" == ".png" or user.avatar.url|lower|slice:"-5:" == ".jpeg" %}
                        <img src="{{ user.avatar.url }}" width="50" height="50" class="avatar">
                    {% else %}
                        <a href="{{ user.avatar.url }}">Load</a>
                    {% endif %}
                {% endif %}
                {{user.username}}
            {% else %}
                <a href="{% url 'login' %}"><button type="button" >Увійти </button></a>
            {% endif %}
    </form>
    <h2>Новинки</h2>
    <section class="card-section">
        <div class="container">
            <ul class="new">
                {% for dish in dishes %}
                {% if dish.data < 7 %}
                <li class="card">
                    <article class="cars-article">
                            {% if dish.photo %}
                                {% if dish.photo.url|lower|slice:"-4:" == ".jpg" or dish.photo.url|lower|slice:"-4:" == ".png" or dish.photo.url|lower|slice:"-5:" == ".jpeg" %}
                                <img class="card-img" src="{{ dish.photo.url }}" alt="picture">
                                {% else %}
                                    <a href="{{ dish.photo.url }}">Load</a>
                                {% endif %}
                            {% endif %}
                        <div class="card-bottom">
                            <div class="card-bottom-text">
                                <b><p class="title">
                                    {{dish.title}}
                                   
                                <div class="price-rating">
                                    <span class="price">
                                        {{dish.price}} грн
                                    </span>
                                </div>
                                </p></b>
                                <hr>
                                <p class="title">
                                    {{dish.discriptions}}
                                </p>
                            </div>
                            <button>Buy</button>
                        </div>
                    </article>                  
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </section>

    <form method="get" class="titles">
        {% for category in form.category.field.choices %}
            <button type="submit" name="{{ form.category.name }}" value="{{ category.0 }}">
                {{ category.1 }}
            </button>
        {% endfor %}
    </form>

        <section class="card-section">
            <div class="container">
                <ul class="cards">
                    {% for dish in dishes %}
                    <li class="card">
                        <article class="cars-article">
                                {% if dish.photo %}
                                    {% if dish.photo.url|lower|slice:"-4:" == ".jpg" or dish.photo.url|lower|slice:"-4:" == ".png" or dish.photo.url|lower|slice:"-5:" == ".jpeg" %}
                                    <img class="card-img" src="{{ dish.photo.url }}" alt="picture">
                                    {% else %}
                                        <a href="{{ dish.photo.url }}">Load</a>
                                    {% endif %}
                                {% endif %}
                            <div class="card-bottom">
                                <div class="card-bottom-text">
                                    <b><p class="title">
                                        {{dish.title}}
                                       
                                    <div class="price-rating">
                                        <span class="price">
                                            {{dish.price}} грн
                                        </span>
                                    </div>
                                    </p></b>
                                    <hr>
                                    <p class="title">
                                        {{dish.discriptions}}
                                    </p>
                                </div>
                                <button>Buy</button>
                            </div>
                        </article>                  
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </section>


    
</body>
</html>